* {
  width: auto;
  margin: auto;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

header{
  margin: 0px;
  padding: 30px;
  text-align: center;
}

.kereses{
  padding: 15pt;
  margin-left: 10%;
  margin-right: 10%;
}

article{
  margin: 15%;
  margin-bottom: 1%;
  padding: 1% 15%;
}

.szemelyesadatok{
  margin: 0pt;
  padding: 1% 15%;
}

footer{
  border-top: 1px solid grey;
  text-align: center;
}

footer a{
  text-decoration: none;
  color: grey;
}